<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calculator</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/css/bootstrap.min.css">
    <!-- Your custom style.css -->
    <link rel="stylesheet" href="D:\UB\Summer'23\Project\flask\flask\flask_demo\static\css\style.css">
    <!-- Additional main.css -->
    <link rel="stylesheet" href="D:\UB\Summer'23\Project\flask\flask\flask_demo\static\css\main.css">
</head>

<body>
    <div class="container">
        <h1 class="text-center">Calculator</h1>
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="form">
                    <form action="/math" method="POST">
                        <div class="mb-3">
                            <label for="operation" class="form-label">Choose a Mathematical Operation</label>
                            <select id="operation" name="operation" class="form-select">
                                <option value="add">Add</option>
                                <option value="subtract">Subtract</option>
                                <option value="multiply">Multiply</option>
                                <option value="divide">Divide</option>
                            </select>
                        </div>
                        <div class="mb-3">
                            <label for="num1" class="form-label">Enter Number 1</label>
                            <input type="text" name="num1" id="num1" class="form-control">
                        </div>
                        <div class="mb-3">
                            <label for="num2" class="form-label">Enter Number 2</label>
                            <input type="text" name="num2" id="num2" class="form-control">
                        </div>
                        <button type="submit" class="btn btn-primary">Calculate</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
